.App {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth !important;
  scroll-snap-type: y proximity;
  position: relative;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #dfdfdf;
}

body::-webkit-scrollbar-thumb {
  background: #747474;
}

body::-webkit-scrollbar-thumb:hover {
  background: #636262;
}

section {
  height: 100vh;
}

.head-section {
  /* width: 100vw; */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bg.jpg");
  /* background-image: url("../images/bg.jpg"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-right: 12px solid var(--primary-color);
  border-left: 12px solid var(--primary-color);
  /* overflow-x: hidden; */
}

.border-left-right-primary {
  border-right: 12px solid var(--primary-color);
  border-left: 12px solid var(--primary-color);
}

.border-left-right-transparent {
  border-right: 12px solid transparent !important;
  border-left: 12px solid transparent !important;
}

.nav-section {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #000000 75%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-right: 12px solid var(--primary-color);
  border-left: 12px solid var(--primary-color);
}

.navbar {
  display: flex;
  min-width: 600px;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4px;
}

.navbar .logo {
  width: 35px;
  height: 35px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 4px;
  transition: all 0.3s ease-in-out;
}

.navbar .logo:hover {
  border: 1px solid var(--primary-color);
}

.nav-container {
  height: 54px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}

.nav-container .nav-links {
  color: white;
}

.nav-links .nav-link-a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}

.nav-links .nav-link-a:hover {
  color: var(--primary-color);
}

.active-link {
  color: var(--primary-color) !important;
}

.header-text-container {
  height: calc((100%) - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text-container h3 {
  font-size: clamp(1.8rem, 2.5rem, 3rem);
  font-size: 2.8rem;
  color: var(--primary-color);
}

.header-text-container h1 {
  font-size: clamp(2rem, 3.5rem, 4rem);
  color: white;
  margin: 12px 0;
  text-align: center;
}

.header-buttons {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.separator {
  width: 200px;
  height: 0;
  margin: 24px 0;
  border-bottom: 2px solid var(--primary-color);
}
.header-btn {
  padding: 8px;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  width: max-content;
}

.header-btn:hover {
  background-color: var(--primary-color);
}

.second-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding-top: 60px;
}

.second-section h2 {
  font-size: clamp(2rem, 3.2rem, 4.2rem);
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 12px;
}

.second-section hr {
  width: 50%;
  margin-top: 4px;
}

.grid-item-description {
  font-size: 14px;
  color: var(--font-color-2);
  font-weight: 500;
}

.services-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 48px;
  margin-bottom: 24px;
  overflow-y: auto;
}

.services-grid-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 35px;
}

.services-grid-item {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.grid-item-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--button-background);
  position: absolute;
  top: -9%;
}

.grid-item-title {
  font-size: 16px;
  text-transform: uppercase;
}

.grid-item-button {
  padding: 8px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 14px;
  outline: none;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.grid-item-button:hover {
  background-color: var(--button-hover);
}

.about-section {
  /* width: 100vw; */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/about.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin-top: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section h2 {
  font-size: clamp(2rem, 3.2rem, 4.2rem);
  color: white;
  margin: 12px 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}

.about-section p {
  font-size: clamp(1rem, 1.5rem, 3rem);
  color: white;
  margin: 12px 8px;
  text-align: center;
}

.about-section h4 {
  width: 100%;
  font-size: clamp(1.5rem, 2rem, 3rem);
  color: white;
  margin: 12px 4px;
  text-align: center;
  font-weight: 700;
}

.about-section span {
  width: 100%;
  font-size: clamp(1.8rem, 2.5rem, 3rem);
  color: var(--primary-color);
  margin: 12px 4px;
  text-align: center;
  font-weight: 700;
}

.about-section .typed-cursor {
  color: white;
  margin: 0;
}

.about-section .about-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.go-up-div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border: 2px solid var(--border-color);
  border-radius: 50%;
  position: fixed;
  bottom: 3ch;
  right: 3ch;
  cursor: pointer;
  z-index: 50;
}

.go-up-div:hover {
  background-color: var(--button-hover);
}

.go-up-div .go-up-icon {
  color: white;
}

.mobile-nav-icon {
  height: 100%;
  width: 100%;
}

.mobile-nav-container {
  display: none;
  width: 35px;
  height: 35px;
}

.mobile-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: black;
  color: white;
  z-index: 101;
  transition: all 0.2s ease-in-out;
}

.mobile-container-icon {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
}

.mobile-container-icon svg {
  width: 35px;
  height: 35px;
  color: white;
  cursor: pointer;
}

.mobile-container-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: 15vh;
}

.mobile-container-links li a {
  text-decoration: none;
  color: white;
  font-size: clamp(1.2rem, 2.5rem, 3rem);
}
/* 
.mobile-nav-links {
  width: 75%;
  text-align: center;
  border-bottom: 1px solid #ffffff94;
} */

.contact-section {
  width: 100%;
  margin-top: 60px;
  padding-top: 60px;
  overflow-y: auto;
}

.contact-section h2 {
  font-size: clamp(2rem, 3.2rem, 4.2rem);
  color: black;
  margin: 12px 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.contact-section p {
  font-size: clamp(1rem, 1.5rem, 3rem);
  color: var(--primary-color);
  margin: 12px 8px;
  text-align: center;
}

.contact-form {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section .contact-form-grid {
  width: 50%;
  margin: 12px 0;
  padding: 8px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 12px;
}

.contact-form input,
.contact-form-grid input,
textarea {
  padding: 4px 8px;
  color: var(--border-color-2);
  font-size: clamp(0.5rem, 1rem, 1.5rem);
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px;
}

.contact-form-input {
  width: 100%;
}

.contact-form-message {
  width: 50%;
  min-height: 75px;
  resize: vertical;
}

.contact-from-button {
  padding: 4px;
  border: 1px solid var(--border-color-2);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  margin: 12px;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact-from-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.join-section {
  /* width: 100vw; */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/join.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin-top: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-section h2 {
  font-size: clamp(2rem, 3.2rem, 4.2rem);
  color: white;
  margin: 12px 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}

.join-section p {
  font-size: clamp(1rem, 1.5rem, 3rem);
  color: white;
  margin: 12px 8px;
  text-align: center;
}

.join-section-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.join-section-img img {
  width: 50%;
}

@media (max-width: 50em) {
  .services-grid-container {
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    row-gap: 20px;
  }

  .grid-item-description {
    margin: 8px 0;
  }

  .grid-item-title {
    margin: 12px 0;
  }

  .grid-item-button {
    margin: 8px 0;
  }

  .grid-item-icon {
    width: 35px;
    height: 35px;
    top: -11%;
  }

  .nav-container {
    display: none;
  }

  .mobile-nav-container {
    display: block;
    color: white;
  }

  .navbar {
    min-width: 100%;
    justify-content: space-between;
  }

  .contact-form-message {
    width: 65%;
  }

  .contact-section .contact-form-grid {
    width: 65%;
  }
}

@media (max-width: 30em) {
  .services-grid-container {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .grid-item-icon {
    top: -13%;
  }

  .header-buttons {
    width: 100%;
  }

  .header-btn {
    font-size: 12px;
  }

  .contact-form-message {
    width: 85%;
  }

  .contact-section .contact-form-grid {
    width: 85%;
    grid-template-columns: 1fr;
  }

  /* 
  .header-text-container h1 {
    font-size: 2rem;
  }

  .header-text-container h3 {
    font-size: 1.6rem;
  } */
}
