:root {
  --primary-color: rgba(255, 0, 88, 1);
  --secondary-color: rgba(26, 36, 54, 1);
  --border-color: #ffffff;
  --font-color-2: rgba(95, 95, 95, 1);
  --button-background: rgba(26, 36, 54, 1);
  --button-hover: rgba(173, 10, 62, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  position: relative;
}

html {
  scroll-behavior: smooth;
}
